@model MyProject.Models.StomachExercises

@{
    ViewData["Title"] = "Delete Exercise";
}

<div>
    <div class="static">
        <h1 class="body-part-text" style="font-size: 40px;">Delete Exercise</h1>
    </div>

    <h5>Are you sure you want to delete this?</h5>
    <div>
        <hr />
        <table class="details-table">
            <tbody>
                <tr>
                    <td class="td-left">@Html.DisplayNameFor(model => model.StomachPart):</td>
                    <td class="td-right">@Html.DisplayFor(model => model.StomachPart)</td>
                </tr>
                <tr>
                    <td class="td-left">@Html.DisplayNameFor(model => model.ExerciseName):</td>
                    <td class="td-right">@Html.DisplayFor(model => model.ExerciseName)</td>
                </tr>
                <tr>
                    <td class="td-left">@Html.DisplayNameFor(model => model.Reps):</td>
                    <td class="td-right">@Html.DisplayFor(model => model.Reps)</td>
                </tr>
                <tr>
                    <td class="td-left">@Html.DisplayNameFor(model => model.BreakTime):</td>
                    <td class="td-right">@Html.DisplayFor(model => model.BreakTime)</td>
                </tr>
            </tbody>
        </table>

        <form asp-action="Delete" class="details-action">
            <input type="hidden" asp-for="ExerciseId" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <div style="text-align: center; padding-top: 15px;">
            <a asp-action="Index" style="font-size: 20px;">Back to List</a>
        </div>
    </div>
</div>
