@model MyProject.Models.StomachExercises

@{
    ViewData["Title"] = "Exercise Details";
}

<div>
    <div class="static">
        <h1 class="body-part-text details-top">Exercise Details</h1>
    </div>

    <hr />
    <table class="details-table">
        <tbody>
            <tr>
                <td class="td-left">@Html.DisplayNameFor(model => model.StomachPart):</td>
                <td class="td-right">@Html.DisplayFor(model => model.StomachPart)</td>
            </tr>
            <tr>
                <td class="td-left">@Html.DisplayNameFor(model => model.ExerciseName):</td>
                <td class="td-right">@Html.DisplayFor(model => model.ExerciseName)</td>
            </tr>
            <tr>
                <td class="td-left">@Html.DisplayNameFor(model => model.Reps):</td>
                <td class="td-right">@Html.DisplayFor(model => model.Reps)</td>
            </tr>
            <tr>
                <td class="td-left">@Html.DisplayNameFor(model => model.BreakTime):</td>
                <td class="td-right">@Html.DisplayFor(model => model.BreakTime)</td>
            </tr>
        </tbody>
    </table>

    <div class="details-action">
        <a asp-action="Edit" asp-route-id="@Model.ExerciseId" style="font-size: 20px;">Edit</a> |
        <a asp-action="Index" style="font-size: 20px;">Back to List</a>
    </div>
</div>