@model IEnumerable<MyProject.Models.LegsExercises>

@{
    ViewData["Title"] = "Legs Exercises";
}

<div>
    <div class="static">
        <h1 class="body-part-text">Legs Exercises</h1>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="static add-text">
            <a asp-action="Create">Add New Exercise</a>
        </div>
    }
</div>
<table class="table" style="width: 80%; font-size: 18px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegPart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreakTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LegPart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExerciseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreakTime)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="action-text" asp-action="Edit" asp-route-id="@item.ExerciseId">Edit</a>
                    }
                    <a class="action-text" asp-action="Details" asp-route-id="@item.ExerciseId">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="action-text" asp-action="Delete" asp-route-id="@item.ExerciseId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
